/*DROP DOWN LISTS*/

/* Style the dropdown button */
.dropbtn {
    background-color: rgb(50, 6, 111);
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    min-width: 60%;
    border: solid black;
    box-shadow: 2px 2px 4px #888888;
    border-radius: 5px;

}

/* The container <div> - needed to position the dropdown content */
.dropcontainer {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    margin: 0 auto;
}

/* Dropdown container */
.dropdown {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap; /* Display content in rows */
    max-width: 300px; /* Maximum width for dropdown content */
    text-align: center; /* Center the content */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    top:40px;
    left:0;
    background-color: none;
    min-width: 50vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Show the dropdown content when the button is hovered over */
.dropbtn:hover + .dropdown-content {
    display: block;
}
.dropbtn:hover {
    transform: scale(1.1);
    background-color: black;
  }

/* Style the list items */
.dropdown-content ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Display items in rows */
    justify-content: center;
    background-color: white;

}

.dropdown-content ul li {
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    color: black;
    width: 100%; /* Show two items per row */
    border:solid black;

}

/* Change background color on hover */
.dropdown-content ul li:hover {
    background-color: lightblue;
    color: black;
}



/*QUOTE BUTTON*/
.button {
    text-align: center;
    margin: 0 auto;
    padding: 10px 20px;
    width: 250px;
    background-color: rgb(90, 66, 191);
    color: #fff;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #888888;
    transition: all 0.3s ease;
  }
  
  .button a {
    color: #fff;
    text-decoration: none;
    display: block;
  }
  
  .button:hover {
    transform: scale(1.1);
    color: black;
    background-color: black;
  }
  